<h1><a href="/">goodfoodhunting</a></h1>
<nav>
  <a href="/share">share</a>
  <a href="/about">about</a>
  <% if (isLoggedIn) { %>
    <p>logged in as <%= currentUser.email %></p>
    <form action="/logout?_method=delete" method="post">
      <button>logout</button>
    </form>
  <% } else { %>
    <a href="/login">login</a>
  <% } %>
</nav>