<h2>update dish</h2>

<form action="/dishes/<%= dish.id %>?_method=put" method="post">
  <label for="">title</label>
  <input type="text" name="title" value="<%= dish.title %>">

  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= dish.image_url %>">

  <label for="">description</label>
  <input type="text" name="description" value="<%= dish.description %>">

  <button>update</button>
</form>